#navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: black;
  padding: 1%;

  height: 85px;

  position: sticky;
  top: 0;

  #header-logo {
    max-width: 50%;
    max-height: max-content;
  }
  .header {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
      // font-size: 14px;
      transition-property: font-size;
      transition-duration: 1s;
      font-weight: 700;
      color: white;
      &:hover {
        text-decoration: none;
        color: goldenrod;
        font-size: 2em;
      }
    }
  }
}
.target {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
}

.target:hover {
  font-size: 36px;
}
